<div class="container">
  
    <form action="" style="width : 20rem ; align-items: center">
        <h2>Welcome</h2>
       <div class="input-group">
         <input type="text" id="username" required>
         <label for="username">Tên Tài Khoản </label>
        </div>
        
        <div class="input-group">
         <input type="text" id="password" required >
         <label for="password">Mặt Khẩu</label>
        </div>
        <button type="submit">Đăng Nhập
        </button>
        <p> Don`t have account? <a href="#">Sign Up </a></p>
      </form>
   
</div>