<div class="container" style="padding-top: 20px;">
    <div class="card">
        <div class="card-header">
            <i class='fas fa-columns'></i> Delails
        </div>
        <div class="card-body">
            <p>Last name</p>
            <p>Alexander</p>
            <p>Fiest name</p>
            <p>Carson</p>
            <p>Enroll dale</p>
            <p>Enroll dale</p>
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Course Title</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Credist</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Chemistry</td>
                        <td>65</td>
                        <td>3</td>

                      </tr>
                      <tr>
                        <td>Microectxmics</td>
                        <td>67</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>Macroeconmics</td>
                        <td>66</td>
                        <td>3</td>
                      </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>