<div class="container">
  
    <form action="" style="width : 20rem ; align-items: center">
        <h2>Welcome</h2>
       <div class="input-group">
         <input type="text" id="username" required>
         <label for="username">Tên Tài Khoản </label>
        </div>
        <div class="input-group">
            <input type="text" id="username" required>
            <label for="username">Mật Khẩu Cũ </label>
           </div>
        <div class="input-group">
         <input type="text" id="password" required >
         <label for="password">Mật Khẩu Mới </label>
        </div>
        <div class="input-group">
            <input type="text" id="username" required>
            <label for="username">Nhập Lại Mặt Khẩu Mới </label>
           </div>
        <button type="submit">Đổi Mặt Khẩu
        </button>
        <p> Don`t have account? <a href="#">Sign Up </a></p>
      </form>
   
</div>
