<div class="card">
    <div class="card-header">
      Leaf Rake
    </div>
    <div class="card-body">
        <div class="col-2" style="float: left" >
            <p>Name : <br> Code : <br> Description : <br> Availability : <br> Price : <br> 5 Star Rating :  
            </p>
        </div>
        <div class="col-4"  style="float: left" > 
            <p>Leaf Rake <br> GDN-0011 <br> Leaf rake with 48-inch wooden handle. <br> March 19,2016  <br> $19.95 <br> 3.2

            </p>
        </div>
        <div class="col-6"  style="float: left">
            <img src="/assets/img/5.jpg">
        </div>
    </div>
    <div class="card-header">
        <i class="fas fa-backward"></i>  Black
          </div>
  </div>


