
<div class="container">
        <form action="" style="width : 20rem ; align-items: center">
            <h2>Welcome</h2>
           <div class="input-group">
             <input type="text" id="username" required>
             <label for="username">Tên Đăng Nhập </label>
            </div>
            <div class="input-group">
             <input type="text" id="password" required >
             <label for="password">Mặt Khẩu </label>
            </div>
            <div class="input-group">
                    <input type="text" id="password" required >
                    <label for="password">Nhập Lại Mặt Khẩu </label>
             </div>

          <div class="input-group">
                        <input type="text" id="password" required >
                        <label for="password">Email</label>
                       </div>
                       
             <div class="input-group">
                            <input type="text" id="password" required >
                            <label for="password">Số Điện Thoại</label>
                           </div>
            <button type="submit">Đăng Ký
            </button>
            <p> Don`t have account? <a href="#">Sign Up </a></p>
          </form>
       
    </div>