<div class="container">
        <div class="row">
                <div class="col-md-9">
                        <div class="row">
                                <div class="col-lg-6">
                                    <div class="card text-center" style="width: 20rem;">
                                        <img src="assets/img/11.png">
                                        <div class="card-footer">
                                           <a href="" ><small class="text-muter" style="font-family: sans-serif ; font-size: 17px ;" >
                                            Lập Trình Hệ Điều Hành IOS</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card text-center" style="width: 20rem;">
                                        <img src="assets/img/dd.png">
                                        <div class="card-footer">
                                            <a href="#"><small class="text-muter" style="font-family: sans-serif ; font-size: 17px ;" >Thiết Kế Web Cơ Bản</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card text-center" style="width: 20rem;">
                                        <img src="assets/img/ss.png">
                                        <div class="card-footer">
                                            <a href="" ><small class="text-muter" style="font-family: sans-serif ; font-size: 17px ;">Hệ Quản Trị Cơ Sở Dữ Liệu</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card text-center" style="width: 20rem;">
                                        <img src="assets/img/aa.jpg">
                                        <div class="card-footer">
                                            <a href="" ><small class="text-muter" style="font-family: sans-serif ; font-size: 17px ;" >Lập Trình Hệ Điều Hành Android</small></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-md-3">
                  <div class="card" style="width: 16rem; align-items: center">
                    <div class="card-header">
                        <i class="fas fa-align-justify"></i>
                       Danh Mục Môn Học
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Lập trình Androind nâng cao</li>
                      <li class="list-group-item">Xây Dựng Trang Web</li>
                      <li class="list-group-item">Cơ Sở Dữ Liệu</li>
                      <li class="list-group-item">SQL Server</li>
                      <li class="list-group-item">Internet Marketing</li>
                      <li class="list-group-item">Big Data</li>
                      <li class="list-group-item">Lập trình PHP</li>
                      <li class="list-group-item">Điện toán đám mây</li>
                      <li class="list-group-item">Lập trình game 2D</li>
                      <li class="list-group-item">APS.Net</li>
                    </ul>
                  </div>
                </div>
              </div>
</div>